<article class="hentry post">
  {{#if isEditing}}
    {{partial 'post/edit'}}
    <button {{action 'doneEditing'}} class="btn btn-primary">Done</button>
  {{else}}
    <button {{action 'edit'}} class="btn btn-default">Edit</button>
  {{/if}}

  <h1 class="entry-title">{{title}}</h1>

  <time datetime="" class="published updated">{{date}}</time>

  <div class="vcard">
    <span class="fn n">{{author.name}}</span>
  </div>

  <div class="entry-content">
    {{body}}
  </div>
</article>
